@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

nav {
    background: rgba(0, 0, 0, 0.6);
    padding: 6px 0px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0px 16px;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}

.nav__curtuan {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.901);
    z-index: 0;
    left: 0;
    top: -100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 5vh;
}

.nav__curtuan .nav__logo {
    width: 15vh;
    height: 15vh;
    align-self: center;
}

.nav__curtuan h2 {
    font-size: 10vh;
    align-self: center;

}

.nav__curtuan p {
    font-size: 3vh;
    text-align: center;
    line-height: 150%;
}

.nav__curtuan a {
    font-size: 3vh;
    color: #FED700;
    text-decoration: underline;
    text-decoration: none;

}

.nav__curtuan .whatsapp {
    color: white;
    background-color: #37b764;
    padding: 8px;
    border-radius: 8px;
}

.nav__curtuan_show {
    top: 0;
}

.nav__logo {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.nav__logo img {
    height: 100%;
    width: 100%;
}

.hamburger {
    height: 22px;
    width: 40px;
    background: transparent;
    position: relative;
}

.hamburger span {
    background-color: #FED700;
    width: 40px;
    height: 2px;
    display: inline-block;
    position: absolute;
    transition: 0.5s;
    left: 0;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 10px;
}

.hamburger span:nth-child(3) {
    top: 20px;
}

.hamburger_active span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
}

.hamburger_active span:nth-child(2) {
    opacity: 0;
}

.hamburger_active span:nth-child(3) {
    top: 10px;
    transform: rotate(-45deg);
}

.nav__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: black;
    height: 100vh;
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    backdrop-filter: opacity(60%);
    display: flex;
    align-items: center;
    overflow: hidden;
}



h1 {
    color: #FED700;
    text-align: center;
    font-size: 160px;
    font-weight: bold;
    margin-bottom: 40px;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 10vw;
    }
}

body {
    font-family: 'Bellota Text', cursive;
    overflow-x: hidden;
    user-select: none;
    user-zoom: none;
    background-color: rgb(20, 20, 20);
    color: rgb(233, 234, 235);
}

section {
    overflow: hidden;
}

.header__links a {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #FED700;
    padding: 14px 12px;
    background: rgba(0, 0, 0, 0.67);
    border: 1px solid #FED700;
    border-radius: 5px;
    transition: 0.5s;
}

.header__links {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.header__links a:hover {
    background-color: black;
    transform: scale(110%);
}

.bg {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 0;

}

@media (max-width: 500px) {
    .bg {
        display: block;
    }
}

.bg video {
    min-height: 100%;
    max-height: 135%;
}

.nav__links {
    display: flex;
    gap: 45px;
}

.order {
    display: inline-block;
    min-width: 260px;
    font-size: 28px;
    font-weight: 700;
    line-height: 25px;
    color: black;
    background: #FED700;
    padding: 16px 24px;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s;
}

.order:hover {
    background-color: black;
    color: #FED700;

}

header .container {
    text-align: center;

}

.aboutmi {
    padding: 40px 0px;
}

h2 {
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 32px;
}

.aboutmi__elements {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.aboutmi__elements p {
    font-size: 16px;
    line-height: 150%;
    min-width: 280px;
    display: inline-block;
    width: 55%;
}

.aboutmi__elements img {
    width: 35%;
    min-width: 280px;
    border-radius: 10px;
}

.ways__list {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 30px;
}

.ways {
    text-align: center;
}

.swiper-slide img {
    width: 100%;
}

.prise-list {
    background-color: #FED700;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid#000000;

}

.prise-list:hover {
    background-color: #000000;
    color: #FED700;
    border: 1px solid#FED700;
}

section {
    padding: 40px 0px;
}

footer {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 40px 0px;
}

.footer__elements {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}


.footer__elements a {
    color: white;
    background-color: #37b764;
    padding: 8px;
    border-radius: 8px;
}

.footer__logo {
    font-size: 24px;
}

.nav__back {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FED700;

}

.nav__back span {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;

}

.galery__swiper {
    width: 80%;
    overflow: visible;
}

.galery__swiper .swiper-slide img {
    border-radius: 10px;
}

.info p {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: rgb(233, 234, 235);
}


.arrow {
    font-size: 50px;
    color: #FED700;
    font-family: 'Font Awesome 6 Free';
    font-weight: bold;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: arrow 1.5s infinite;
}

@keyframes arrow {
    0% {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 150%);
        opacity: 0;
    }
}

.tarif {
    text-align: center;
}

.tarif p {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 16px;
}

.tarif p:nth-child(4) {
    margin-bottom: 48px;
}

.tarif span {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    background-color: #000000;
    color: #FED700;
    border-radius: 6px;
    display: inline-block;
    padding: 3px 6px;
}

.massage {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: 7;
    background-color: #FED700;
    padding: 17px 20px;
    border-radius: 8px;
    margin: auto;
    display: block;
    max-width: 300px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid #FED700;
}

.massage:hover {
    background-color: #000000;
    color: #FED700;

}

.footer__elements p {
    color: white;

}

.heder_antalya {
    background-image: url(../img/antalya/antalya.png);
}

.heder_aspendos {
    background-image: url(../img/aspendos/aspendos.png);
}

.heder_manavgat {
    background-image: url(../img/sidemanavgat/manavgat.png)
}

.heder_koja {
    background-image: url(../img/koja/koja.png);
}

.heder_altdüden {
    background-image: url(../img/altdüden/altdüden.png);
}

.heder_kurşunlu {
    background-image: url(../img/kurşunlu/kurşunlu.png);
}

.heder_koprulu {
    background-image: url(../img/köprülükanyon/köprülükanyon.png);
}

.heder_pamukkale {
    background-image: url(../img/pamukkale/Pamukkale.jpg);
}

.heder_hayvanatbahçesi {
    background-image: url(../img/hayvanatbahçesi/hayvanatbahçesi.jpg);
}
.heder_üstdüden{
    background-image: url(../img/üstdüden/üstdüden.jpg);
}

.heder_ulupınar {
    background-image: url(../img/ulupınar/ulupınar.png);
}

.heder_kemer {
    background-image: url(../img/kemer/kemer.jpg);
}

.heder_demre {
    background-image: url(../img/demre/demre.png);
}

.heder_kemerkanatyolu {
    background-image: url(../img/kemerkanatyolu/kemerkanatyolu.jpg);
}

.heder_konyaltıkanatyolu {
    background-image: url(../img/konyaltıkanatyolu/konyaltıkanatyolu.jpg);
}

.heder_pazarlara {
    background-image: url();
}

.heder_lentoflegends {
    background-image: url(../img/lentoflegends/lentoflegends.png);
}

header.heder_alanya {
    background-image: url(../img/alanya/alanya\ header.png);
}

.heder_demre header.heder_belek {
    background-image: url(../img/belek/belek.png);
}

header.header_eror {
    text-align: center;
    background-image: none;
    background-color: #FFFFFF;
    justify-content: center;
    flex-direction: column;
    padding: 10vh 16px 0px 16px;
}


.heder_prise_list {
    background-image: url(../img/prise_list_bg.png);
}

.prise__item {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}



.prise__item:nth-child(odd) {
    background-color: rgb(98, 98, 98);
}

.prise__item:nth-child(even) div {
   border-color:  rgb(233, 234, 235);
}

.prise__item div {
    flex-grow: 1;
    font-size: 24px;
    width: 24%;
    min-width: 260px;
    padding: 8px 4px;

}

.prise__head div {
    padding: 20px 0px;
}

.prise__item div:nth-child(1) {
    text-align: left;
}

.prise__item hr {
    width: 1px;
    height: 32px;
    background-color: #000;
    display: block;
}

.prise__list .prise__head {
    background-color: #FED700;
    color: #000;
    padding: 0px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    position: static;
    top: 0;
}

.prise__list .prise__head div:nth-child(1) {
    text-align: center;
}

.prise__list i {
    display: none;

}

.prise__list .prise__head i {
    display: inline-block;
}

.prise__list {
    position: relative;
}
.prise__item a{
    color:  rgb(233, 234, 235);
    text-decoration: underline;
}




.prise__item hr {}